xerces-c.VC.db

ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
INSTALL.vcxproj
INSTALL.vcxproj.filters
RUN_TESTS.vcxproj
RUN_TESTS.vcxproj.filters
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
cmake_install.cmake
config.h
doc/CMakeFiles/
doc/CTestTestfile.cmake
doc/INSTALL.vcxproj
doc/INSTALL.vcxproj.filters
doc/RUN_TESTS.vcxproj
doc/RUN_TESTS.vcxproj.filters
doc/cmake_install.cmake
doc/createdocs.vcxproj
doc/createdocs.vcxproj.filters
doc/doc-style.vcxproj
doc/doc-style.vcxproj.filters
doc/doc-xml.vcxproj
doc/doc-xml.vcxproj.filters
samples/CMakeFiles/
samples/CTestTestfile.cmake
samples/CreateDOMDocument.vcxproj
samples/CreateDOMDocument.vcxproj.filters
samples/DOMCount.vcxproj
samples/DOMCount.vcxproj.filters
samples/DOMPrint.vcxproj
samples/DOMPrint.vcxproj.filters
samples/EnumVal.vcxproj
samples/EnumVal.vcxproj.filters
samples/INSTALL.vcxproj
samples/INSTALL.vcxproj.filters
samples/MemParse.vcxproj
samples/MemParse.vcxproj.filters
samples/PParse.vcxproj
samples/PParse.vcxproj.filters
samples/PSVIWriter.vcxproj
samples/PSVIWriter.vcxproj.filters
samples/RUN_TESTS.vcxproj
samples/RUN_TESTS.vcxproj.filters
samples/Redirect.vcxproj
samples/Redirect.vcxproj.filters
samples/SAX2Count.vcxproj
samples/SAX2Count.vcxproj.filters
samples/SAX2Print.vcxproj
samples/SAX2Print.vcxproj.filters
samples/SAXCount.vcxproj
samples/SAXCount.vcxproj.filters
samples/SAXPrint.vcxproj
samples/SAXPrint.vcxproj.filters
samples/SCMPrint.vcxproj
samples/SCMPrint.vcxproj.filters
samples/SEnumVal.vcxproj
samples/SEnumVal.vcxproj.filters
samples/StdInParse.vcxproj
samples/StdInParse.vcxproj.filters
samples/XInclude.vcxproj
samples/XInclude.vcxproj.filters
samples/cmake_install.cmake
src/CMakeFiles/
src/CTestTestfile.cmake
src/INSTALL.vcxproj
src/INSTALL.vcxproj.filters
src/RUN_TESTS.vcxproj
src/RUN_TESTS.vcxproj.filters
src/XercesCConfig.cmake
src/XercesCConfigVersion.cmake
src/cmake_install.cmake
src/xerces-c-headers.vcxproj
src/xerces-c-headers.vcxproj.filters
src/xerces-c-missing.vcxproj
src/xerces-c-missing.vcxproj.filters
src/xerces-c.vcxproj
src/xerces-c.vcxproj.filters
src/xercesc/util/Xerces_autoconf_config.hpp
tests/CMakeFiles/
tests/CTestTestfile.cmake
tests/Char16Test.vcxproj
tests/Char16Test.vcxproj.filters
tests/DOMMemTest.vcxproj
tests/DOMMemTest.vcxproj.filters
tests/DOMTest.vcxproj
tests/DOMTest.vcxproj.filters
tests/DOMTraversalTest.vcxproj
tests/DOMTraversalTest.vcxproj.filters
tests/DOMTypeInfoTest.vcxproj
tests/DOMTypeInfoTest.vcxproj.filters
tests/EncodingTest.vcxproj
tests/EncodingTest.vcxproj.filters
tests/INSTALL.vcxproj
tests/INSTALL.vcxproj.filters
tests/InitTermTest.vcxproj
tests/InitTermTest.vcxproj.filters
tests/MemHandlerTest.vcxproj
tests/MemHandlerTest.vcxproj.filters
tests/NetAccessorTest.vcxproj
tests/NetAccessorTest.vcxproj.filters
tests/Normalizer.vcxproj
tests/Normalizer.vcxproj.filters
tests/RUN_TESTS.vcxproj
tests/RUN_TESTS.vcxproj.filters
tests/RangeTest.vcxproj
tests/RangeTest.vcxproj.filters
tests/ThreadTest.vcxproj
tests/ThreadTest.vcxproj.filters
tests/XSTSHarness.vcxproj
tests/XSTSHarness.vcxproj.filters
tests/XSValueTest.vcxproj
tests/XSValueTest.vcxproj.filters
tests/XSerializerTest.vcxproj
tests/XSerializerTest.vcxproj.filters
tests/cmake_install.cmake
xerces-c.pc
xerces-c.sln
